body {
    background-color: #2589D1;
}

a:link{
    color: rgb(33, 123, 226);
}

a:visited{
    color: purple;
}

footer{
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.navbar-nav>li{
    border-right: 1px solid #DEE2D6;
}

#leftmostnavitem{
    border-left: 1px solid #DEE2D6;
}

#mapid{
    height: 250px;
}

#search_query{
    width: 100%;
}