body {
    background-color: #0074E1;
}

a:link{
    color: rgb(33, 123, 226);
}

a:visited{
    color: purple;
}

footer{
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.navbar-nav>li{
    border-right: 1px solid white;
}

#leftmostnavitem{
    border-left: 1px solid white;
}