{% extends "base.html" %}

{% block content %}
    {% if current_user.is_anonymous %}
    <h3>Hello there!</h3>
    {% else %}
    <h3>Hello {{ current_user.username }}!</h3>
    {% endif %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">{{ form.search_query.label }}</h2>
            </div>
          </div>
        <form action="{{ url_for('main_blueprint.index') }}" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-xs-12">
                    {{ form.search_query(size=20) }}
                    {% for error in form.search_query.errors %}
                    <span style="color:red;">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    {{ form.submit() }}
                </div>
                <div class="col-md-6">
                    <form action="{{ url_for('main_blueprint.surprise') }}" method="post" novalidate>
                        {{ surprise_form.surpise_me_button() }}
                    </form>
                </div>
            </div>
        </form>
    </div>
{% endblock %}